<div class='row'>
  <div class='col-md-6 offset-md-3 MT'>
    <div class='card card-body bg-light text-center'>
      <%= @todo.description %>
      <%= link_to 'Editar ToDo', edit_todo_path, class: 'btn btn-warning MT' %>
      <%= link_to 'Borrar ToDo', todo_path, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>